@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

html{
    height:320%;
    
}
body{
    position: relative;
    min-height:100%;
    background: rgba(84, 147, 131, 1.0);
    background: -webkit-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: linear-gradient(to top right, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    
}

header{
    position: absolute;
    top: 0px;
    height: 180px;
    width: 100%;
    background: rgba(84, 147, 131, 1.0);
    background: -webkit-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: linear-gradient(to top right, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    border-bottom: 10px solid rgb(218, 235, 230);
    
}

header h1{
    position: absolute;
    left:200px;
    top:140px;
    font-size: 50px;
    background-color:rgb(218, 235, 230);
    padding: 30px;
    border-radius: 10px;
    font-family: 'Rancho', cursive;
    
   
}
#submit-form{
position: absolute;
height: 400px;
width: 400px;
top:305px;
left: 400px;
border-radius: 100%;
background-color:rgb(218, 235, 230);
}

label{
    position: absolute;
    top: 100px;
    left: 60px;
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 36px;
}

#submitButton{
    position: absolute;
    top: 290px;
    left: 150px;
    background-color: rgb(100, 125, 165);
    color: black;
    font-family: 'Rancho', cursive;
    font-size: 24px;
    border: 1px solid rgb(90, 87, 87);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(90, 86, 86);
    text-shadow:none;
    padding: 20px;
}

#num{
    position: absolute;
    top: 230px;
    left: 110px;
    padding: 10px;
}

#submitButton:hover{
background-color:rgb(68, 64, 64) ;
color: white;
}

#left-img{
  position: absolute;
  left:80px;
  bottom :700px;
}

#mid-img{
    position: absolute;
    left:425px;
    bottom :700px;
}

#right-img{
    position: absolute;
    right:80px;
    bottom :700px; 
}

img{
    height: 300px;
    width:300px;
    margin :30px;
    border: 10px solid rgb(218, 235, 230) ;
}

#show-results{
    position: absolute;
    left:-570px;
    bottom: 440px;
    background-color: rgb(100, 125, 165);
    color:rgb(218, 235, 230);
    font-family: 'Rancho', cursive;
    font-size: 24px;
    border: 0.002px solid rgb(218, 235, 230);
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgb(90, 86, 86);
    text-shadow:none;
    padding: 20px;
}

#show-results:hover{
    background-color:rgb(44, 39, 39) ;
    color: white;
    }

canvas{
    position: absolute !important;
    bottom: 150px !important;
    left:10px!important;
    width:600px !important;
    height:300px !important;
   font-size: larger !important;
  
}

#cataloge-results{
    position: absolute;
    bottom: 150px;
    right: 60px;
    display: inline-block;
}


footer{
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: rgba(84, 147, 131, 1.0);
    background: -webkit-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    background: linear-gradient(to top right, rgba(84, 147, 131, 1.0), rgba(43, 89, 165, 1.0));
    border-top: 10px solid rgb(218, 235, 230);
    
}